* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

header {
  background-color: black;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.site-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.site-logo-2 {
  margin-left: 150px;
}

.site-shop {
  margin-right: 150px;
}

.site-nav-links {
  text-decoration: none;
  font-size: 13px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}

.headphones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 188px;
  padding-bottom: 104px;
  color: white;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  margin-bottom: 153px;
}

.x99 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 126px;
}

.x99-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 445px;
}

.x99-img {
  width: 349px;
  height: 386px;
  margin-bottom: 268px;
}

.new-product {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  margin-bottom: 16px;
}

.x99-title {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.x99-text-2 {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  margin-bottom: 42px;
}

.x99-btn {
  width: 160px;
  height: 48px;
  border: none;
  outline: none;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  background-color: #d87d4a;
  margin-bottom: 268px;
}

.x100 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 128px;
}

.x100-text {
  width: 445px;
  height: 308px;
  margin-bottom: 286px;
}

.x100-title {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  margin-bottom: 32px;
}

.x100-img {
  margin-bottom: 220px;
}

.x100-text-2 {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  margin-bottom: 40px;
}

.x100-btn {
  width: 160px;
  height: 48px;
  border: none;
  outline: none;
  background-color: #d87d4a;
  color: white;
  font-size: 13px;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.x101 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 208.76px;
}

.x101-text {
  width: 445px;
  height: 308px;
}

.x101-title {
  font-size: 40px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 1.43px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 32px;
}

.x101-text-2 {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  margin-bottom: 40px;
}

.x101-btn {
  width: 160px;
  height: 48px;
  border: none;
  outline: none;
  color: white;
  background-color: #d87d4a;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
}

.ads {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 125px;
  margin-top: 190px;
  margin-bottom: 190px;
}

.gear-title {
  width: 445px;
  height: 295px;
}

.gear-img-2 {
  width: 540px;
  height: 588px;
}

.gear-title-2 {
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.43px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  margin-bottom: 32px;
}

.best {
  color: #d87d4a;
}

.gear-text {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
}

.footer-1 {
  height: 365px;
  background-color: #101010;
}

.footer-links-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 75px;
}

.footer-site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 538px;
}

.footer-links-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}

.footer-text-10 {
  width: 540px;
  height: 100px;
}

.footer-sites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-top: 42px;
  margin-left: 85px;
}

.social-media {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 16px;
    margin-right: 90px;
}

.footer-text-11{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
}

.rights-2 {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Manrope", sans-serif;
    margin-top: 56px;
    margin-left: 85px;
}